/* Write GOOD comments so that next developer ( killer psycopath who knows where you stay ) ... */
/* .... who is going to maintain this code; need NOT have to get back to you */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Universal Selector & explicitly set box-sizing type */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  everything applicable to or can be used for all elements */
/* color palette */
:root {
  --bg-color: hsl(185, 75%, 39%);
  --card-bg-color: hsl(0, 0%, 100%);
  --card-title-color: hsl(218, 44%, 22%);
  --card-content-color: hsl(220, 15%, 55%);
  --border-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 59%);

  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --fs-300: 0.6875rem;
  --fs-400: 0.8125rem;
  --fs-500: 1.25rem;
}

body {
  height: 100vh;

  font-family: "Outfit", sans-serif;
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);

  background-color: var(--bg-color);

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  /* reduce size */
  background-size: 25em;
  background-position: top -9.375em left -9.375em,
    bottom -9.375em right -9.375em;

  /* debugging purpose only */
  /* background-image: url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom -650px right -250px; */

  /* debugging purpose only */
  /* background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: top -450px left -250px, bottom -650px right -250px; */
}

main {
  /* border: 2px dotted rgb(51, 150, 153); */
  height: auto;
  width: 20rem;
  margin: auto;
  background-color: var(--card-bg-color);
  border-radius: 1em;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: 100% 145px;
  padding-top: 4em;
}

.profile-info {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  width: 100%;
}

.profile-info__image-container {
  border-radius: 50%;
  border: 2px solid var(--border-color);
  background-color: var(--card-bg-color);
  padding: 0.15em;
  margin-bottom: 1em;
}

.profile-info__image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

/* 2nd Child */
.profile-info__child-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.profile-info__name {
  margin-right: 0.75em;
  font-size: var(--fs-500);
}

.profile-info__name--bold {
  font-weight: bold;
}

.profile-info__age {
  color: var(--text-color);
  font-size: var(--fs-500);
}

.profile-info__city {
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 0.05em solid;
  color: var(--text-color);
}

/* 3rd Child */
.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid blue; */
  margin: 1em 0.5em 2em 0.5em;
  width: 100%;
}

.profile-stats-child-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-stats__number {
  margin-bottom: 0.4em;
  font-size: var(--fs-400);
}

.profile-stats__number--bold {
  font-weight: bold;
}

.profile-stats__description--small {
  font-size: var(--fs-300);
  color: var(--text-color);
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/bg-pattern-top.svg"),
      url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: top -450px left -250px, bottom -650px right -250px;
    /* reset size as it's reduced for mobile */
    background-size: auto;
  }
  main {
    /* border: 2px dotted rgb(51, 150, 153); */
    height: auto;
    width: 24rem;
    margin: auto;
  }
}

/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
